.min-h-0 {
    min-height: 0
}

.min-h-1 {
    min-height: 0.25rem
}

.min-h-2 {
    min-height: 0.5rem
}

.min-h-3 {
    min-height: 0.75rem
}

.min-h-4 {
    min-height: 1rem
}

.min-h-5 {
    min-height: 1.25rem
}

.min-h-6 {
    min-height: 1.5rem
}

.min-h-8 {
    min-height: 2rem
}

.min-h-10 {
    min-height: 2.5rem
}

.min-h-12 {
    min-height: 3rem
}

.min-h-16 {
    min-height: 4rem
}

.min-h-20 {
    min-height: 5rem
}

.min-h-24 {
    min-height: 6rem
}

.min-h-32 {
    min-height: 8rem
}

.min-h-40 {
    min-height: 10rem
}

.min-h-48 {
    min-height: 12rem
}

.min-h-56 {
    min-height: 14rem
}

.min-h-64 {
    min-height: 16rem
}
